/* Safari 4.0 - 8.0 */
\@-webkit-keyframes example1 {
    0%   {color:red; font-size: 80%;}
    25%  {color:yellow; font-size: 100%;}
    50%  {color:blue; font-size: 120%;}
    75%  {color:green; font-size: 100%;}
    100% {color:red; font-size: 80%;}
}

/* Standard syntax */
@keyframes example1 {
    0%   {color:red; font-size: 80%;}
    25%  {color:yellow; font-size: 100%;}
    50%  {color:blue; font-size: 120%;}
    75%  {color:green; font-size: 100%;}
    100% {color:red; font-size: 80%;}
}

.animate1 {
    -webkit-animation-name: example1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-name: example1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
\@-webkit-keyframes example2 {
    0%   {color:purple; font-size: 80%;}
    25%  {color:blue; font-size: 100%;}
    50%  {color:red; font-size: 120%;}
    75%  {color:yellow; font-size: 100%;}
    100% {color:purple; font-size: 80%;}
}

/* Standard syntax */
@keyframes example2 {
    0%   {color:purple; font-size: 80%;}
    25%  {color:blue; font-size: 100%;}
    50%  {color:red; font-size: 120%;}
    75%  {color:yellow; font-size: 100%;}
    100% {color:purple; font-size: 80%;}
}

.animate2 {
    -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
\@-webkit-keyframes example3 {
    0%   {color:blue; font-size: 80%;}
    25%  {color:green; font-size: 100%;}
    50%  {color:purple; font-size: 120%;}
    75%  {color:red; font-size: 100%;}
    100% {color:blue; font-size: 80%;}
}

/* Standard syntax */
@keyframes example3 {
    0%   {color:blue; font-size: 80%;}
    25%  {color:green; font-size: 100%;}
    50%  {color:purple; font-size: 120%;}
    75%  {color:red; font-size: 100%;}
    100% {color:blue; font-size: 80%;}
}

.animate3 {
    -webkit-animation-name: example3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-name: example3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 99;
}

.pimpText {
    font-family: 'Dolphins'; 
    font-size: 12ch;
    padding-top: 15px;
    font-weight: bold;
    height: 40%;
}

.pimpButton {
    boarder-radius: 10px;
    margin-top: 5px;
}

.pimpButton:hover {
    background: black;
    color: white;
}

#loadingPage {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
}

#loadingMessage {
    font-size: 10vw;
    z-index: 199;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#loadingBar {
    position: absolute;
    height: 100%;
    right: 0;
    width: 100%;
    top: 0;
    display: none;
    z-index: 99;
    background-color: white;
}

.wrapper {
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}